<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- Footer -->
    <div id="footer" class="bg-sky-950 p-4 mt-20 text-white">
      <div class="flex flex-wrap justify-center space-x-4">
        <ul class="flex flex-wrap space-x-4">
          <li><a href="#" class="hover:underline">About us</a></li>
          <li><a href="#" class="hover:underline">Support</a></li>
          <li><a href="#" class="hover:underline">Blog</a></li>
          <li><a href="#" class="hover:underline">Press</a></li>
          <li><a href="#" class="hover:underline">API</a></li>
          <li><a href="#" class="hover:underline">Jobs</a></li>
          <li><a href="#" class="hover:underline">Privacy</a></li>
          <li><a href="#" class="hover:underline">Terms</a></li>
          <li><a href="#" class="hover:underline">Directory</a></li>
          <li><a href="#" class="hover:underline">Language</a></li>
        </ul>
      </div>
      <div class="text-center mt-4">
        <p class="text-white">
          <a href="https://www.friendzy.com" class="hover:underline">
            &copy; 2024 Friendzy
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
