<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="bg-white p-4 rounded-lg shadow-md">
      <!-- User Information -->
      <div class="flex items-center bg-white p-4 mb-4">
        <img
          src="https://via.placeholder.com/50"
          alt="User Avatar"
          class="w-10 h-10 rounded-full"
        />
        <div class="ml-4">
          <p class="text-gray-800 font-semibold"><%= user.username %></p>
        </div>
      </div>

      <!-- Post Form -->
      <form action="/posts" method="post" enctype="multipart/form-data">
        <textarea
          class="w-full p-2 rounded-md border border-gray-300 outline-none"
          placeholder="Write your real thought..."
          name="post"
        ></textarea>
        <div class="flex justify-between items-center mt-4">
          <div class="flex space-x-3 relative">
            <!-- <button
                id="penButton"
                class="p-2 hover:bg-zinc-200 focus:outline-none focus:ring-2 focus:ring-zinc-200"
              >
                <i class="fa-solid fa-pen-to-square w-6 h-6"></i>
              </button> -->
            <%- include('fileUploaderButton', {type:"image", name:"post-img",
            icon:"fa-regular fa-image", pos:"0"}) %> <%-
            include('fileUploaderButton', {type:"video", name:"post-video",
            icon:"fa-solid fa-video", pos:"1"}) %>
          </div>
          <button class="bg-blue-500 text-white py-1 px-3 rounded-md">
            Post
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
